<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asgaeilge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsGaelige">
        <activity
            android:name="com.example.asgaeilge.Food"
            android:parentActivityName="com.example.asgaeilge.MainActivity"/>
        <activity
            android:name="com.example.asgaeilge.Questions"
            android:parentActivityName="com.example.asgaeilge.MainActivity" />
        <activity
            android:name="com.example.asgaeilge.Months"
            android:parentActivityName="com.example.asgaeilge.MainActivity" />
        <activity
            android:name="com.example.asgaeilge.Animals"
            android:parentActivityName="com.example.asgaeilge.MainActivity" />
        <activity
            android:name="com.example.asgaeilge.Colors"
            android:parentActivityName="com.example.asgaeilge.MainActivity" />
        <activity
            android:name="com.example.asgaeilge.Phrases"
            android:parentActivityName="com.example.asgaeilge.MainActivity" />
        <activity android:name="com.example.asgaeilge.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>